<header class="sec--head">
    <div class="sec--head__inner">
        <div class="sec--head__content">
            <div class="sec--head__content__box">
                <h1 class="logo">
                    <span class="label">Pagepro</span>
                </h1>
            </div>
            <div class="sec--head__content__box">
                <h2 class="minor-title">
                    <span class="label">404 NOT FOUND</span>
                </h2>
            </div>
        </div>
        <div class="sec--head__actions">
            <a class="go-listview" ui-sref="listsState">Go to the lists view</a>
        </div>
    </div>
</header>
